th.mat-header-cell, tr{
    text-align: center;
    padding-left: 5px
}

td.mat-cell{
    padding: 10px
}

table{
    position: relative;
    margin: auto;
    
}


.mat-header-cell{
    font-size: 18px;
}