/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#content{
    margin: 40px;
}

.mat-table{
    width: 90%;
    height: 80%;
    margin: auto;
}
.cell-aline-right{
    text-align: right !important;
}

.cell-aline-center{
    text-align: center !important;
}

.mat-row .mat-raised-button{
    visibility: hidden;
}

.mat-row:hover .mat-raised-button{
    visibility:visible;
}

.mat-row:hover{
    filter: brightness(120%);
}

.new-tem{
    background-color: transparent;
    padding-left:0 !important;
    padding-right: 0 !important;
    justify-content: flex-end;

    a{
        font-size: 110%
    }

}